{% extends 'base.html' %}

{% block title %}Room{% endblock %}

{% block content %}
<div class="field">
    <p><b>Join room</b></p><br>
    <label>Room name</label>
    <div class="control">
        <input class="input" type="text" placeholder="Room name" id="room-name-input">
    </div>
</div>
<div class="field">
    <div class="control">
        <a class="button is-info" id="room-name-submit">Submit</a>
    </div>
</div>

<form method="post"><br>
    {% csrf_token %}
    <div class="field">
        <div class="control">
            <p><b>Create room</b></p><br>
            {{ form }}
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-info" type="submit" id="submit">Submit</button>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script>
    // Automatically set the focus to the room name input
document.querySelector('#room-name-input').focus();

// If you hit "enter" on the keyboard, trigger the click method
document.querySelector('#room-name-input').onkeyup = function(e) {
  if (e.keyCode === 13) {
    document.querySelector('#room-name-submit').click();
  }
};

// When you submit the form, redirect the user to the room page
document.querySelector('#room-name-submit').onclick = function(e) {
  var roomName = document.querySelector('#room-name-input').value;
  // var userName = document.querySelector('#username-input').value;

  // window.location.replace(roomName + '/?username=' + userName);

  window.location.replace(roomName + '/');
};









</script>
{% endblock %}
